*
{
	font-family: 'Roboto Slab', serif;
}

html
{
	scroll-behavior: smooth;
}

body
{
	background-image: url("https://images.unsplash.com/photo-1564599164-e239d56111f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

footer
{
	background-color: white;
	color: #031163; 
	font-size: 18px;
}

form
{
	font-size: 20px
}

form .form-control
{
	font-size: 20px
}

h1
{
	font-size: 5rem;
}

.card-body
{
	color: #031163;
}

.card-body a
{
	padding: 0.3rem 2rem;
	background-color:#031163; 
	text-decoration: none;
	color: white;
	border-radius: 9px;
	font-size: 25px;
}

.card-body .card-title
{
	font-size: 33px;
}

.card-body h5
{
	font-size: 33px;
}

#contact-developer
{
	background-color: #031163;
}

#contact-developer h3
{
	background-color: #031163;
	font-size: 30px;
}

.input-group-append .send-button
{
	margin-top: 0.75rem;
	margin-bottom: 2rem;
	border-radius: 9px;
	padding: 0.5rem;
	background-color: white;
	color: #031163;
}

#jumbotron
{
	background-color: #031163;
	color: white;
	font-size: 28px;
}

#portfolio-button
{
	
	width: 75%;
	border-radius: 9px;
	padding: 0.5rem;
	background-color: white;
	color: #031163;
	font-size: 25px;
}

#portfolio img
{
	width: 100%;
    height: 20vh;
    object-fit: cover;
}

#pre-footer
{
	display: flex;
	justify-content: space-around;
	background-color: #031163;
	padding: 5rem 0 0.5rem 0;
	color:white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

#pre-footer div
{
	margin: 0 0.5rem;
	width: 25%;
}
	
#pre-footer .connect-title
{
	margin-bottom: 0.5rem;
	border-bottom: 1px solid white;
	padding-bottom: 0.5rem
}

a:link
{
	color: white;
}

a:visited
{
	color: white;
}

a:hover
{
	color: red;
}

a:active
{
	color: white;
}


.card-body a:link
{
	color: white;
}

.card-body a:visited
{
	color: white;
}

.card-body a:hover
{
	color: red;
}

.card-body a:active
{
	color: white;
}

@media screen and (max-width: 600px) 
{
  h1 
  {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) 
{

	.card-body .card-title
	{
		font-size: 28px;
	}

  	.card-body h5
	{
		font-size: 22px;
	}

	.card-body a
{
	padding: 0.3rem 2rem;
	background-color:#031163; 
	text-decoration: none;
	color: white;
	border-radius: 9px;
	font-size: 18px;
}
}
